<dom-module id="hello-user">
	<template>
		<input type="text" id="name_input" value={{name::keyup}}/>
		<h1>Hello, [[name]].</h1>
	</template>
	<script>
		Polymer({
			is: "hello-user",
			created: function() {
				this.log('created');
			},
			ready: function() {
				this.log('ready');
			},
			attached: function() {
				this.log('attached');
			},
			detached: function() {
				this.log('detached');
			},
			attributeChanged: function(name, oldValue, newValue) {
				this.log('attributeChanged');
			},
			log: function(cycle) {
				console.log(this.is + ' component ' + cycle);
			}
		})
	</script>
</dom-module>